@import "tailwindcss";
:root {
  --color-border:#E3E4E8 ;
  --color-primary-text: #14161c; 
  --color-bg: #FFFFFF;
  --color-text-muted: #64748B;
  --color-text-dark:#7F8087;
  --color-para:#46484E;
  --color-text-black:#2B2B32;
}
.font-caveat {
  font-family: var(--font-caveat), cursive;
}
.font-inter {
  font-family: var(--font-inter), sans-serif;
}
body {
  font-family: var(--font-inter), sans-serif;
}
